**/__pycache__
**/.ipynb_checkpoints

main.pdf
!img/*.pdf

**/*.aux 
**/*.DS_Store
**/*.Rproj.user
**/*.Rhistory
**/*.texpadtmp
**/*.out
**/*.log
**/*.synctex.gz
**/*.synctex(busy)
**/*.blg
**/*.bbl
**/*.lot 
**/*.out 
**/*.lof 
**/*.xml 
**/*.fls
**/*.fdb_latexmk
**/*.spl
**/*.toc
**/*.abs
**/*.xmpdata
**/*.xmpi

.Rproj.user
